.Header {
    text-align: center;
}

.Header_container {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.right {
    flex: 1;
    text-align: right;
    margin-left: 16px;
    font-size: 18px;
    color: black;
}

.Header_logo {
width: auto;
height: 15vmin;
pointer-events: none;
margin: 3vh;
}


.Panel a {
    display: block;
}

.Panel a:link {
    text-decoration: None;
}
  
  